.myfirstclass {
  color:#f77389;
  background-color: lightpink;
  font-size: 100px;
}  
.divTwo {
  color: darkturquoise;
  font-size: 100px;
  background-color: paleturquoise;
} 

.divThree {
  background-color: lavender;
  margin-left: 100px;
  color: #6f4d6f;
}
.divFour {
  background-color:saddlebrown;
  color: black;
} 
